extends layout
include mixins/mixins.jade

block content
  div.container
    div.row
      div.col-md-12
        h1= title
          br
          small Configure your build pipeline as quick as you can fart.
        hr
    div.row
      div.col-md-12
        include mixins/led-config.jade
        include mixins/pipeline-config.jade
        include mixins/sounds-config.jade
        include mixins/queue-config.jade