doctype html
html(lang='en')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-colorpicker.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-1.11.0.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/bootstrap-colorpicker.min.js')
    script(src='/javascripts/angular.min.js')
    script(src='/javascripts/angular-resource.min.js')  
    script(src='/javascripts/ng-flow-standalone.min.js')  
    script(src='/javascripts/app.js')
    script(src='/javascripts/controllers/led.ctrl.js')
    script(src='/javascripts/controllers/pipeline.ctrl.js')
    script(src='/javascripts/controllers/sounds.ctrl.js')
    script(src='/javascripts/controllers/application.ctrl.js')
  body(ng-app='pipeline')
    block content