body {
    padding: 50px;
    font: 14px"Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
    color: #00B7FF;
}
.scrollable {
    position: relative;
    height: 200px;
    overflow: auto hidden;
}