mixin saveConfig(fn)
  div.form-group
    div.col-md-2.col-md-offset-10
      button.btn.btn-primary.form-control(ng-click=fn)
        span.glyphicon.glyphicon-floppy-save.
        | &nbsp; Save config

