div.row(ng-controller='SoundsCtrl', flow-init)
  div.col-md-12
    form(role='form').form-horizontal
      h3 Sounds
      div.well
        +checkboxGroup('sounds', 'Enable sounds')
        +fileUploadGroup('', '')
