div.row(ng-controller='SoundsCtrl')
  div.col-md-12
    form(role='form').form-horizontal
      h3 Sounds
      div.well
        +checkboxGroup('sounds', 'Enable sounds')
        +fileUploadGroup('successSound', 'Success')
        +fileUploadGroup('failSound', 'Fail')
        +fileUploadGroup('abortSound', 'Abort')
        +fileUploadGroup('unstableSound', 'Unstable')